body {
  font-family: 'Asap', sans-serif;
  background: rgba(0, 0, 0, 0) url(../img/doodles.png) repeat scroll 0% 0%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}

.nav-item a {
  text-transform: capitalize;
}

.nav-link:hover {
  color: rgba(255, 136, 0, 1) !important;
}



.dropdown-item:focus, .dropdown-item:hover {
  color: rgba(255, 136, 0, 1) !important;
}

.btn-outline-safeboda {
	color: rgba(255, 136, 0, 1);
	border-color: rgba(255, 136, 0, 1);
}

.btn-outline-safeboda:hover {
	color: #fff;
	background-color: rgba(255, 136, 0, 1);
	border-color: rgba(255, 136, 0, 1);
}

.btn-safeboda {
	color: #fff;
	background-color: #ff8800;
	border-color: #ff8800;
}

.btn-safeboda:hover {
	color: #fff;
	background-color: #ff8800;
	border-color: #ff8800;
}

.bg-safeboda {
  background: #ff8800;
}

.alert-danger{
  width: 100%;
  color: #fff;
  animation: blinkingBackground .8s infinite;
  background-color: #025073;
}
@keyframes blinkingBackground{
  0%		{ border-color: #fff;}
  100%	        { background-color: #025073; color: #fff; border-color: #025073;}
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #ff8800;
}